<div class="newsletter js-newsletter">
    <div class="text-form-head"><%= texts.formHead %></div>

    <p class="text-error js-text-error"></p>
    <p class="text-success"><%= texts.newsletterSuccess %></p>

    <form action="" class="form js-form">
        <input type="email" class="form-control email js-email" name="email" placeholder="<%= texts.placeholderEmail %>..." required>
        <input type="text" class="form-control firstname js-firstname" name="firstname" placeholder="<%= texts.placeholderFirstname %>...">
        <input type="text" class="form-control lastname js-lastname" name="lastname" placeholder="<%= texts.placeholderLastname %>...">
        <input type="submit" value="<%= texts.placeholderRegister %>" class="form-control submit js-submit">
    </form>
</div>