<% var p = Math.round((start_price - current_price) / (start_price - min_price) * 100) %>
<div class="status">
	<div class="current-price">
		<%- current_price %> €
	</div>
	<div class="shares">
		<span class="num-shares"><%- shares %></span> total shares
	</div>
	<div class="progress">
		<div class="start-price"><%- start_price %> €</div>
		<div class="bar">
			<div class="bar-progress" style="width: <%- p %>%"></div>
		</div>
		<div class="min-price"><%- min_price %> €</div>
	</div>
</div>